/*
    Document   : popup_survey
    Created on : 13-Jun-2013, 10:27:51 AM
    Author     : baglerda
    Description:
    Purpose of the stylesheet follows.
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
    display: block;
}
