.bean-survey-popup-message {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 3px 3px 3px #444444;
  display: none;
  .button {
    float: right;
    padding: 5px;
    margin-left: 15px;
  }
  h2 {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    color: #008375;
    font-size: 1.23077em !important;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 0 5px;
  }
}
.popup-greyout.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 37, 50, 0.4);
  z-index: 1050;
}
